<!DOCTYPE HTML>
<!--
	Striped 2.5 by HTML5 Up!
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>{% block title %}Kokteiliai!{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic&subset=latin,latin-ext,vietnamese' rel='stylesheet' type='text/css'>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/skel.min.js') }}"></script>
    <script src="{{ asset('js/skel-panels.min.js') }}"></script>
    <script src="{{ asset('js/init.js') }}"></script>

    <link href="{{ asset('css/skel-noscript.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/style-desktop.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/style-wide.css') }}" rel="stylesheet" type="text/css" />

    <!--[if lte IE 9]><link href="{{ asset('css/ie9.css') }}" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if lte IE 8]><script src="{{ asset('js/html5shiv.js') }}"></script><![endif]-->
    <!--[if lte IE 7]><link href="{{ asset('css/ie7.css') }}" rel="stylesheet" type="text/css" /><![endif]-->
</head>
<!--
    Note: Set the body element's class to "left-sidebar" to position the sidebar on the left.
    Set it to "right-sidebar" to, you guessed it, position it on the right.
-->
<body class="left-sidebar">
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Content -->
    <div id="content">
        <div id="content-inner">

            {% block body %}{% endblock %}

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">

        {% block head %}{% endblock %}

    </div>

</div>
    {% block script %}{% endblock %}

</body>
</html>

