{% include '::layout.html.twig' %}

{#<link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />#}
<script>
    function addIngredient(element){
        var ingredient = element.getAttribute('id');
        var quantity  = element.value;
        $("#user_ingr_table").html('<div style=\"text-align:center;\"><img src="{{ asset('files/images/load.gif') }}"></div>');

        $.ajax({
            type: "POST",
            url: "{{ path('cocktails_add_ingredient') }}",
            data: {
                ingredient: ingredient,
                quantity: quantity
            },
            success: function(data){
                $("#user_ingr_table").html(data);
            }
        })
    }

    function removeIngredient(element){
        $("#user_ingr_table").html('<div style=\"text-align:center;\"><img src="{{ asset('files/images/load.gif') }}"></div>');
        $.ajax({
            type: "POST",
            url: "{{ path('cocktails_remove_ingredient') }}",
            data:{ingredient: element},
            success: function(data){
                $("#user_ingr_table").html(data);
            }
        })
    }

    function updateIngredient(obj, element){

        if(obj.innerHTML == "Atnaujinti"){
            $(obj).siblings('#quantity_show').hide();
            $(obj).siblings('#quantity_edit').show();
            obj.innerHTML = "Patvirtinti";
        }
        else {
        var quantity = document.getElementById("input_"+element).value;
        $.ajax({
            type: "POST",
            url: "{{ path('cocktails_update_ingredient') }}",
            dataType: "html",
            data: {
                ingredient: element,
                quantity: quantity
            },
            success: function(data){
                $("#user_ingr_table").html(data);
            }
        })
        }
    }

</script>

{% block productTable %}
    <div class="container">
        <div class="row">
            <div id="ingr_table" class="col-md-6">{% include 'CocktailsRecipesBundle:List:productTable.html.twig' %}</div>
            <div id="user_ingr_table" class="col-md-6">{% include 'CocktailsRecipesBundle:List:UserIngredientTable.html.twig' %}</div>
        </div>
    </div>


{% endblock %}