{% include '::layout.html.twig' %}
<script>
    var addRecipeToUser = function(id){
        $.ajax({
            type: "GET",
            url: "{{ path('cocktails_add_recipe_to_user') }}",
            data:{id: id},
            cuccess: function(){
                console.log("recipe added");
            }
        })
    };
</script>

{% block recipe %}

    <div class="clear">&nbsp;</div>
    <div class="container">

        <div class="row">
            <div class="col-md-12"><h3>{{ recipe.name }}</h3></div>
            <div class="clear">&nbsp;</div>
            <div class="col-md-9">

                <div class="col-sm-4 recipe-image single">
                    <img src="{{ asset(recipe.getImageByStatus(recipe.image)) }}" alt=""/>
                    <p>&nbsp;</p>
                </div>

                <div class="col-sm-8">
                    <p><b>Skonis:</b> {{ recipe.getTasteByStatus(recipe.RecipeTaste)}}</p>
                    <p><b>Tipas:</b> {{ recipe.getTypeByStatus(recipe.RecipeType) }}</p>
                    <p><b>Gaminta:</b> n kartų</p>

                    <p>&nbsp;</p>
                    <p><b>Gaminimo instrukcija:</b></p>
                    <p>{{ recipe.description }}</p>
                    <p>&nbsp;</p>
                    <a class="btn btn-default" onclick="addRecipeToUser({{ recipe.id }})">
                        Gaminsiu
                    </a>
                    <p>&nbsp;</p>
                </div>

                <div class="clear"></div>
            </div>

            <div class="col-md-3" style="min-height: 200px;">
                <h4 class="border-bottom">Ingredientai</h4>
                <p><b>Ingredientas: </b> ingredientas</p>
                <p><b>Ingredientas: </b> ingredientas</p>
                <p><b>Ingredientas: </b> ingredientas</p>
                <p><b>Ingredientas: </b> ingredientas</p>
                <p><b>Ingredientas: </b> ingredientas</p>
            </div>
        </div>

    </div>




{% endblock %}
