{% extends '::layout.html.twig' %}

{% block body %}

    <article class="is-post is-post-excerpt">
        <header>
            <span class="byline">{{ recipe.getTasteByStatus(recipe.RecipeTaste)}} / {{ recipe.getTypeByStatus(recipe.RecipeType) }} - {{ recipe.name }}</span>
        </header>
        <div class="info">
            <!--<span class="date"><span class="month"> </span> <span class="day">14</span></span>-->
            <ul class="stats">
                <li><a href="#" class="fa fa-heart">{{ recipe.rank }}</a></li>
                <li><a href="#" class="fa fa-comment">16</a></li>
                <li><a href="#" class="fa fa-facebook">128</a></li>
            </ul>
        </div>
        <a class="image image-full"><img src="{{ asset(recipe.getImageByStatus(recipe.image)) }}" alt=""/></a>
        <p>
            <h4>Ingredientai: </h4>
            {%  for ingredient in recipe.ingredients %} <b>{{ ingredient.ingredient.name }}</b> {{ ingredient.quantity }}{{ ingredient.ingredient.measureUnit.name }}. {% if not loop.last %},{% endif %} {% endfor %}
        </p>
        {% if is_granted("ROLE_USER") %}
            <p>
                <h4>Trūkstami ingredientai:</h4>
                {% if ingredientsNeeded|length > 0 %}
                    {% for ingredientN in ingredientsNeeded %}
                        <b>{{ ingredientN.name }} </b> {{ ingredientN.quantity }} {{ ingredientN.measureUnit }}. {% if not loop.last %},{% endif %}
                    {% endfor %}
                {% else %}
                    <b>Jūs turite visus reikiamus ingredientus</b>
                {% endif %}
            </p>
        {% endif %}
        <p>
            <strong>Gaminimo būdas: </strong>
            {{ recipe.description }}
        </p>
        {% if is_granted("ROLE_USER") %}
        <p> <a id="gaminsiu_button" href="javascript:addRecipeToUser({{ recipe.id }})" class="btn">GAMINSIU</a></p>
        {% endif %}
    </article>
{% endblock %}

{% block script %}
    <script>
        function addRecipeToUser(id){
            $("#pasirinkti_button").html('Pridedama');

            $.ajax({
                type: "POST",
                url: "{{ path('cocktails_add_recipe_to_user') }}",
                data:{id: id},
                success: function(){
                    $("#gaminsiu_button").html('Pridėta');
                }
            })
        }
    </script>
{% endblock %}
