{% extends '::layout.html.twig' %}

{% block body %}

    <article class="is-post is-post-excerpt single">
        <header>
            <span class="byline">{{ recipe.getTasteByStatus(recipe.RecipeTaste)}} / {{ recipe.getTypeByStatus(recipe.RecipeType) }} - {{ recipe.name }}</span>
        </header>
        <div class="info">
            <!--<span class="date"><span class="month"> </span> <span class="day">14</span></span>-->
            <ul class="stats">
                <li><a href="#" class="fa fa-heart">{{ recipe.rank }}</a></li>
                <li><a href="#" class="fa fa-comment"><fb:comments-count href="{{app.request.uri}}"></fb:comments-count></a></li>
                {#<li><a href="#" class="fa fa-facebook">{{ fbCount }}</a></li>#}
            </ul>
        </div>
        <a class="image image-full"><img src="{{ asset(recipe.getImageByStatus(recipe.image)) }}" alt=""/></a>
        <p>
            <strong>Ingredientai: </strong>
            <br>
            {%  for ingredient in recipe.ingredients %} <b>{{ ingredient.ingredient.name }}</b> {{ ingredient.quantity }}{{ ingredient.ingredient.measureUnit.name }}. {% if not loop.last %},{% endif %} {% endfor %}
        </p>
        <p>
            {% if is_granted("ROLE_USER") %}
                {% if ingredientsNeeded|length > 0 %}
                    <strong>Trūkstami ingredientai: </strong>
                    <br>
                    {% for ingredientN in ingredientsNeeded %}
                        <b>{{ ingredientN.name }} </b> {{ ingredientN.quantity }} {{ ingredientN.measureUnit }}. {% if not loop.last %},{% endif %}
                    {% endfor %}
                {% else %}
                    <b>Jūs turite visus reikiamus ingredientus</b>
                {% endif %}
            {% endif %}
        </p>
        <p>
            <strong>Gaminimo būdas: </strong>
            {{ recipe.description }}
        </p>
        <p>
         <div class="fb-like" data-href="{{app.request.uri}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </p>
        {% if is_granted("ROLE_USER") %}
        <p id="gaminti_button"> <a href="javascript:addRecipeToUser({{ recipe.id }})" class="btn">GAMINSIU</a></p>
        {% endif %}
        <div class="clear"></div>
    </article>

    <artticle class="is-post is-post-excerpt">
        <div class="fb-comments" data-href="{{app.request.uri}}" data-numposts="5" data-colorscheme="light"></div>
    </artticle>

{% endblock %}
{% block script %}
    <script>
        function addRecipeToUser(id){
            $("#gaminti_button").html('Pridedama');

            $.ajax({
                type: "POST",
                url: "{{ path('cocktails_add_recipe_to_user') }}",
                data:{id: id},
                cuccess: function(){
                    $("#gaminti_button").hide();
                }
            })
        };

        function checkIfAdded(){
            if({{ added }}){
                $("#gaminti_button").hide();
            }
        }
        window.onload = checkIfAdded;
    </script>
{% endblock %}
