{% include '::layout.html.twig' %}

<link href="{{ asset('css/table.css') }}" rel="stylesheet" type="text/css" />
{% block recipe %}
    <div class="single">
        <p class="title">{{ recipe.name }}</p>
        <div class="info">
            <div><img class="image" src="{{ asset(recipe.foto) }}" alt=""/></div>
            <div class="description">
                <p>Aprašymas:</p>
                {{ recipe.description }}

                <p>Skonis: {{ recipe.getTasteByStatus(recipe.RecipeTaste)}}</p>

                <p>Tipas: {{ recipe.getTypeByStatus(recipe.RecipeType) }}</p>

                <p>Ingredientai:</p>
                <button>Gaminti</button>
            </div>
        </div>
    </div>


{% endblock %}