<link href="{{ asset('css/table.css') }}" rel="stylesheet" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    var addIngredient = function(element){
        var ingredient = element.getAttribute('id');
        var quantity  = element.value;
        console.log(element);
        console.log(quantity);
        $.ajax({
            type: "GET",
            url: "{{ path('cocktails_add_ingredient') }}",

            data: {
                ingredient: ingredient,
                quantity: quantity
            },
            success: function() {
                console.log("pavyko");
            }
        })
    };
</script>

{% block ingredientTableBlock %}
    <div class="productTable">
        {% for ingredient in ingredients %}
            <div class="product">
                <img class="image" src="{{ asset(ingredient.getFoto) }}"/>
                <div>{{ ingredient.name }}</div>
                <form>
                    Kiekis:
                    <input type="text" name="quantity" id="{{ ingredient.id }}" value="1"> {{ ingredient.getMeasureUnit.getName }}
                    <input type="button" value="Pasirinkti" class="pasirinkti" onclick="addIngredient(document.getElementById({{ ingredient.id }}))"/>
                </form>
            </div>
        {% endfor %}

        {% for test in app.user.getIngredients() %}
            {{ test.name }}
        {% endfor %}
        <div id="1">

        </div>
        {% macro input(name, value, type, size) %}
            <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
        {% endmacro %}
    </div>
{% endblock %}