<link href="{{ asset('css/table.css') }}" rel="stylesheet" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    var addIngredient = function(element){
        var ingredient = element.getAttribute('data-id');
        console.log(ingredient);
        $.ajax({
            type: "POST",
            url: "{{ path('cocktails_add_ingredient') }}",
            dataType: 'json',
            data: {id: ingredient},
            contentType: "application/json; charset=utf-8",
            success: function() {
                console.log("pavyko");
            }
        })
    };

//    function addIngredientToUser(element){
//        var ajaxRequest;
//        ajaxRequest = new XMLHttpRequest();
//        ajaxRequest.onreadystatechange = function () {
//            if (ajaxRequest.readyState == 4) {
//                var ajaxDisplay = document.getElementById('1');
//                ajaxDisplay.innerHTML = ajaxRequest.responseText;
//            }
//        };
//        var name = document.getElementById(element.getAttribute('data-id')).value;
//        ajaxRequest.open("GET", name, true);
//        ajaxRequest.send(null);
//    }
    {#$(document).ready(function(){#}
        {#console.log('kiki');#}
        {#$('.pasirinkti').click(function(element){#}

            {#var ingredient = element.getAttribute('data-id');#}
            {#console.log(ingredient);#}
            {#$.ajax({#}
                {#type: "GET",#}
                {#url: "{{ path('cocktails_add_ingredient') }}",#}
                {#data:{ ingredientId: 'data-id'},#}
                {#success: function() {#}
                    {#console.log("pavyko");#}
                {#}#}
            {#})#}
        {#});#}
        {#console.log('kiki');#}
    {#})#}


</script>
{% block ingredientTableBlock %}
    <div class="productTable">
        {% for ingredient in ingredients %}
            <div class="product" id="{{ ingredient.id }}">
                <img class="image" src="{{ asset(ingredient.getFoto) }}"/>
                <div id="11">{{ ingredient.name }}</div>
                <div>Kiekis: <input type="text" name="FirstName" value="1"> {{ ingredient.getMeasureUnit.getName }}</div>
                <button class="pasirinkti" onclick="addIngredient(this)" data-id="{{ingredient.id}}">Pasirinkti</button>

            </div>
        {% endfor %}

        {% for test in app.user.getIngredients() %}
            {{ test.name }}
        {% endfor %}
        <div id="1">

        </div>
        {% macro input(name, value, type, size) %}
            <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
        {% endmacro %}
    </div>
{% endblock %}