
{% block ingredientTableBlock %}
    <section class="is-search">
        <form method="post" action="#">
            <input type="text" class="text" name="search" placeholder="Įveskite ieškomo ingredineto pavadinimą" />
        </form>
        <p>&nbsp;</p>
        <h3>Paieškos rezultatai: </h3>
        <p></p>

        {% for ingredient in ingredients %}
            <div class="my-ingredient-container">
                <div class="img-container"> <img class="thumbnail ingredient-image" src="{{ asset(ingredient.getFoto) }}"/></div>
                <h3>{{ ingredient.name }}</h3>
                <p><strong>Kiekis: </strong><input type="text" name="quantity" id="{{ ingredient.id }}" value="1" class="input-text-mini" size="2"/> <strong>{{ ingredient.getMeasureUnit.getName }}.</strong></p>
                <p>
                    <a href="javascript:addIngredient(document.getElementById({{ ingredient.id }}))" class="btn">Pridėti</a>
                </p>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </section>
        {% macro input(name, value, type, size) %}
            <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
        {% endmacro %}
<div class="clear"></div>
{% endblock %}
{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    var addIngredient = function(element){
        var ingredient = element.getAttribute('id');
        var quantity  = element.value;
        $.ajax({
            type: "GET",
            url: "{{ path('cocktails_add_ingredient') }}",

            data: {
                ingredient: ingredient,
                quantity: quantity
            },
            success: function() {
                console.log("pavyko");
                location.reload(); //perkrauti pslp sekmes atveju
            }
        })
    };
</script>
{% endblock %}
