
{% block ingredientTableBlock %}
    <section id="paieskos_rez" class="is-search">
        <h3>Įvesk ieškomą produktą: </h3>
        <form method="post" action="#">
            <input id="paieska" type="text" class="text" name="search" placeholder="Įveskite ieškomo ingredineto pavadinimą" />
        </form>
        {% if ingredients %}
            <h3>Paieškos rezultatai: </h3>
            <p></p>

            {% for ingredient in ingredients %}
                <div class="my-ingredient-container">
                    <div class="img-container"> <img class="thumbnail ingredient-image" src="{{ asset(ingredient.getFoto) }}"/></div>
                    <h3>{{ ingredient.name }}</h3>
                    <p><strong>Kiekis: </strong><input type="text" name="quantity" id="{{ ingredient.id }}" value="1" class="input-text-mini" size="2"/> <strong>{{ ingredient.getMeasureUnit.getName }}.</strong></p>
                    <p>
                        <a href="javascript:addIngredient(document.getElementById({{ ingredient.id }}))" class="btn">Pridėti</a>
                    </p>
                    <div class="clear"></div>
                </div>
            {% endfor %}
        {% endif %}
    </section>
        {% macro input(name, value, type, size) %}
            <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
        {% endmacro %}
<div class="clear"></div>
{% endblock %}
{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    var typingTimer;
    var doneTypingInterval = 1000;

    $('#paieska').keyup(function(){
        clearTimeout(typingTimer);
        if ($('#paieska').val) {
            typingTimer = setTimeout('searchIngr(document.getElementById("paieska").value)', doneTypingInterval);
        }
    });

    function addIngredient(element){
        var ingredient = element.getAttribute('id');
        var quantity  = element.value;
        $.ajax({
            type: "POST",
            url: "{{ path('cocktails_add_ingredient') }}",
            data: {
                ingredient: ingredient,
                quantity: quantity
            },
            success: function(data) {
                location.reload(); //perkrauti pslp sekmes atveju
//                $("#user_ingr_table").html(data);
            }
        })
    }

    function searchIngr(name){
        $.ajax({
            type: "POST",
            url: "{{ path('cocktails_ingredient_search') }}",
            data: {
                name: name
            },
            success: function(data){
                $('#paieskos_rez').html(data);

            }
        })
    }
</script>
{% endblock %}
