<link href="{{ asset('css/table.css') }}" rel="stylesheet" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    var addIngredient = function(element){
        var ingredient = element.getAttribute('data-id');
        var quantity  =
        console.log(ingredient);
        $.ajax({
            type: "GET",
            url: "{{ path('cocktails_add_ingredient') }}",

            data: {ingredient: ingredient},
            success: function() {
                console.log("pavyko");
            }
        })
    };
</script>

{% block ingredientTableBlock %}
    <div class="productTable">
        {% for ingredient in ingredients %}
            <div class="product" id="{{ ingredient.id }}">
                <img class="image" src="{{ asset(ingredient.getFoto) }}"/>
                <div id="11">{{ ingredient.name }}</div>
                <div>Kiekis: <input type="text" name="FirstName" value="1"> {{ ingredient.getMeasureUnit.getName }}</div>
                <button class="pasirinkti" onclick="addIngredient(this)" data-id="{{ingredient.id}}">Pasirinkti</button>

            </div>
        {% endfor %}

        {% for test in app.user.getIngredients() %}
            {{ test.name }}
        {% endfor %}
        <div id="1">

        </div>
        {% macro input(name, value, type, size) %}
            <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
        {% endmacro %}
    </div>
{% endblock %}