{#<link href="{{ asset('css/table.css') }}" rel="stylesheet" type="text/css" />#}

{% block table %}
    <div class="clear">&nbsp;</div>
    <div class="container">

        <div class="col-md-12">
            <div class="row filters-container filter-taste">
                <label class="filter-checkbox"><input type="checkbox"> Skonis </label>
                <label class="filter-checkbox"><input type="checkbox"> Skonis Skonis </label>
                <label class="filter-checkbox"><input type="checkbox"> Skonis </label>
                <label class="filter-checkbox"><input type="checkbox"> Skonis Skonis </label>
                <label class="filter-checkbox"><input type="checkbox"> Skonis Skonis </label>
                <label class="filter-checkbox"><input type="checkbox"> Skonis Skonis </label>
                <label class="filter-checkbox"><input type="checkbox"> Skonis </label>
                <label class="filter-checkbox"><input type="checkbox"> Skonis Skonis </label>
                <a class="btn btn-default filter-button-right" href="#">
                    Filtruoti
                </a>
            </div>
            <div class="row filters-container filter-type">
                <label class="filter-checkbox"><input type="checkbox"> Tipas </label>
                <label class="filter-checkbox"><input type="checkbox"> Tipas Tipas</label>
                <label class="filter-checkbox"><input type="checkbox"> Tipas Tipas</label>
                <label class="filter-checkbox"><input type="checkbox"> Tipas </label>
                <label class="filter-checkbox"><input type="checkbox"> Tipas Tipas</label>
                <label class="filter-checkbox"><input type="checkbox"> Tipas Tipas</label>
                <label class="filter-checkbox"><input type="checkbox"> Tipas Tipas</label>
                <label class="filter-checkbox"><input type="checkbox"> Tipas </label>
                <label class="filter-checkbox"><input type="checkbox"> Tipas Tipas</label>
                <a class="btn btn-default filter-button-right" href="#">
                    Filtruoti
                </a>
            </div>
            <div class="row filters-container filter-my-products">
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <a class="btn btn-default filter-button-right" href="#">
                    Filtruoti
                </a>
            </div>
        </div>

        <div class="clear">&nbsp;</div>
        <div class="row">

            {% for recipe in list %}
                <div class="col-sm-6">
                    <div class="col-xs-6 recipe-image recipe-col">
                        <img src="{{ asset(recipe.getImageByStatus(recipe.image)) }}" alt=""/>
                    </div>
                    <div class="col-xs-6 recipe-col ">
                        <h4>{{ recipe.name }}</h4>
                        <div class="clear">&nbsp;</div>
                        <p><strong>Skonis:</strong> {{ recipe.getTasteByStatus(recipe.RecipeTaste) }}</p>
                        <p><strong>Tipas:</strong> {{ recipe.getTypeByStatus(recipe.RecipeType) }}</p>
                        <p><strong>Reitingas:</strong> {{ recipe.rank }}</p>
                        <div class="clear">&nbsp;</div>
                        <a class="btn btn-default" href="{{ path('cocktails_recipe_single', {'id': recipe.id }) }}">
                            Plačiau
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        </table>
    </div>


{% endblock %}
