{#<link href="{{ asset('css/table.css') }}" rel="stylesheet" type="text/css" />#}
<script>

    function filter_with_ajax(type)
    {
        $("#recipe_row").html('<div style=\"text-align:center;\"><img src="{{ asset('files/images/load.gif') }}"></div>');
        $.ajax({
            type: "POST",
            url: "{{ path('cocktails_recipes_filter') }}",
            dataType: "html",
            data:{data1: 'mydata1'},
            success: function(data){
                $("#recipe_row").html(data);
                console.log("recipe removed");
            }
        })

    }
</script>
{% block table %}
    <div class="clear">&nbsp;</div>
    <div class="container">

        <div class="col-md-12">
            <div class="row filters-container filter-taste">
                {% for taste in tastes %}
                    <label class="filter-checkbox"><input type="checkbox"> {{ taste.name }} </label>
                {% endfor %}
                <a class="btn btn-default filter-button-right" href="#" onclick="filter_with_ajax('taste');">
                    Filtruoti
                </a>
            </div>
            <div class="row filters-container filter-type">
                {% for type in types %}
                    <label class="filter-checkbox"><input type="checkbox"> {{ type.name }} </label>
                {% endfor %}
                <a class="btn btn-default filter-button-right" href="#" onclick="filter_with_ajax('type');">
                    Filtruoti
                </a>
            </div>
            <div class="row filters-container filter-my-products">
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <label class="filter-checkbox"><input type="checkbox"> Mano produktai </label>
                <a class="btn btn-default filter-button-right" href="#">
                    Filtruoti
                </a>
            </div>
        </div>

        <div class="clear">&nbsp;</div>
        <div id="recipe_row" class="row">
            {% include 'CocktailsRecipesBundle:List:recipeList.html.twig' %}
        </div>

    </div>


{% endblock %}
