<link href="{{ asset('css/table.css') }}" rel="stylesheet" type="text/css" />

{% block table %}
    <table class="main_table">

        {% for recipe in list %}
            <tr class="element">
                <td class="image"> <img src="{{ asset(recipe.getImageByStatus(recipe.image)) }}" alt=""/></td>
                <td class="description">
                    <p class="title">{{ recipe.name }}</p>
                    <p>Aprašymas</p>
                    <p>{{ recipe.description }}</p>
                    <p>Skonis: {{ recipe.getTasteByStatus(recipe.RecipeTaste)}}</p>
                    <p>Tipas: {{ recipe.getTypeByStatus(recipe.RecipeType) }}</p>
                    <p>Reitingas: {{ recipe.rank }}</p>

                    <a class="button" href="{{ path('cocktails_recipe_single', {'id': recipe.id }) }}"><button>Pasirinkti</button></a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}