{% extends '::layout.html.twig' %}

{% block body %}

    {#filter type#}
    <article class="is-post is-post-excerpt filter-container filter-type">
        <h5 id="recipe-type">Pagal tipą:</h5>
        <a class="filter-link" href="#" onclick="javascript:filter_with_ajax('type');">Filtruoti</a>
        <ul class="filter_checkbox">
            {% for type in types %}
                {% set check = "" %}
                {% if sessionType == "type" %}
                    {% if type.id in sessionFilterData %}
                        {% set check = "checked" %}
                    {% endif %}
                {% endif %}
                <li><input class="type" type="checkbox" name="{{ type.id }}" id="type-{{ type.id }}" value="{{ type.name }}" {{ check }}/> <label for="type-{{ type.id }}">{{ type.name }}</label></li>
            {% endfor %}
        </ul>
    </article>

    {#filter taste#}
    <article class="is-post is-post-excerpt filter-container filter-taste">
        <h5 id="recipe-taste">Pagal skonį</h5>
        <a class="filter-link" href="#" onclick="javascript:filter_with_ajax('taste');">Filtruoti</a>
        <ul class="filter_checkbox">
            {% for taste in tastes %}
                {% set check = "" %}
                {% if sessionType == "taste" %}
                    {% if taste.id in sessionFilterData %}
                        {% set check = "checked" %}
                    {% endif %}
                {% endif %}
                <li><input class="taste" type="checkbox" name="{{ taste.id }}" id="taste-{{ taste.id }}" value="{{ taste.name }}" {{ check }}/> <label for="taste-{{ taste.id }}">{{ taste.name }}</label></li>
            {% endfor %}
        </ul>
    </article>

    {#filter ingredients#}
    <article class="is-post is-post-excerpt filter-container filter-ingredients">
        <h5 id="recipe-ingredients">Pagal ingredientus</h5>
        <a class="filter-link" href="#" onclick="javascript:filter_with_ajax('ingredients');">filtruoti</a>
        <ul class="filter_checkbox">
            {% for ingredient in ingredients %}
                {% set check = "" %}
                {% if sessionType == "ingredients" %}
                    {% if ingredient.id in sessionFilterData %}
                        {% set check = "checked" %}
                    {% endif %}
                {% endif %}
                <li><input class="ingredients" type="checkbox"  name="{{ ingredient.id }}"  id="ingredient-{{ ingredient.id }}" value="{{ ingredient.name }}" {{ check }}/> <label for="ingredient-{{ ingredient.id }}">{{ ingredient.name }}</label></li>
            {% endfor %}
        </ul>
    </article>

    {#filter my products#}
    <article class="is-post is-post-excerpt filter-container filter-my-ingredients">
        <h5 id="recipe-ingredients">Pagal mano ingredientus</h5>
        <a class="filter-link" href="#" onclick="javascript:filter_with_ajax('myIngredients');">filtruoti</a>
        <ul class="filter_checkbox">
            {% for userI in userIngredients %}
                {% set check = "" %}
                {% if sessionType == "myIngredients" %}
                    {% if userI.id in sessionFilterData %}
                        {% set check = "checked" %}
                    {% endif %}
                {% endif %}
                <li><input class="myIngredients" type="checkbox" name="{{ userI.id }}" id="myIngredient-{{ userI.id }}" value="{{ userI.name }}" {{ check }}/> <label for="myIngredient-{{ userI.id }}">{{ userI.name }}</label></li>
            {% endfor %}
        </ul>
    </article>


    <div class="clear">&nbsp;</div>
    <div id="recipe_row" class="row">
    {% include 'CocktailsRecipesBundle:List:recipeList.html.twig' %}
    </div>

    {#<div class="clear">&nbsp;</div>#}
    {#<div class="clear">&nbsp;</div>#}
    {#<!-- Pager -->#}
    {#<div class="pager">#}
        {#<!--<a href="#" class="button previous">Previous Page</a>-->#}
        {#<div class="pages">#}
            {#<a href="#" class="active">1</a>#}
            {#<a href="#">2</a>#}
            {#<a href="#">3</a>#}
            {#<a href="#">4</a>#}
            {#<span>&hellip;</span>#}
            {#<a href="#">20</a>#}
        {#</div>#}
        {#<a href="#" class="button next">Next Page</a>#}
    {#</div>#}



{% endblock %}
{% block script %}
    <script>
        function filter_with_ajax(typeFilter)
        {
            $("#recipe_row").html('<div style=\"text-align:center;\"><img src="{{ asset('files/images/load.gif') }}"></div>');

            var ids = [];
            $('.'+typeFilter+':checked').each(function() {
                ids.push(parseInt($(this).attr("name")));
            });
            ids = ids.join();
            $.ajax({
                type: "POST",
                url: "{{ path('cocktails_recipes_filter') }}",
                dataType: "html",
                data:{data: ids, type: typeFilter},
                success: function(data){
                    $("#recipe_row").html(data);
                }
            })
        }

        function addRecipeToUser(id){
            $.ajax({
                type: "POST",
                url: "{{ path('cocktails_add_recipe_to_user') }}",
                data:{id: id},
                success: function(){
                    $("#gaminti_"+id).hide();
                }
            })
        }

    </script>
{% endblock %}
