{#<link href="{{ asset('css/table.css') }}" rel="stylesheet" type="text/css" />#}

{% block table %}
    <div class="clear">&nbsp;</div>
    <div class="container">
        <div class="clear">&nbsp;</div>
        <div class="row">

            {% for recipe in recipes %}
                <div class="col-sm-6">
                    <div class="col-xs-6 recipe-image recipe-col">
                        <img src="{{ asset(recipe.getRecipe().getImageByStatus(recipe.getRecipe().image)) }}" alt=""/>
                    </div>
                    <div class="col-xs-6 recipe-col ">
                        <h4>{{ recipe.getRecipe().name }}</h4>
                        <div class="clear">&nbsp;</div>
                        <p><strong>Skonis:</strong> {{ recipe.getRecipe().getTasteByStatus(recipe.getRecipe().RecipeTaste) }}</p>
                        <p><strong>Tipas:</strong> {{ recipe.getRecipe().getTypeByStatus(recipe.getRecipe().RecipeType) }}</p>
                        <p><strong>Reitingas:</strong> {{ recipe.getRecipe().rank }}</p>
                        <div class="clear">&nbsp;</div>
                        <a class="btn btn-default" href="{{ path('cocktails_recipe_single', {'id': recipe.getRecipe().id }) }}">
                            Plačiau
                        </a>
                        <a class="btn btn-default" onclick="removeRecipeFromUser({{ recipe.id }})">
                            Pašalinti
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}
