<script>
    var removeIngredient = function(element){
        $.ajax({
            type: "GET",
            url: "{{ path('cocktails_remove_ingredient') }}",
            data:{ingredient: element}
        })
    }

</script>

{% block UserIngredientTableBlock %}
    <div class="clear">&nbsp;</div>
    <h4 class="text-center">Mano produktai:</h4>
    <ul>
        {% for ingredient in userIngredients %}
            <li class="list-group-item " >
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <img class="thumbnail ingredient-image" src="{{ asset(ingredient.getIngredient.getFoto) }}"/>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <h4>{{ ingredient.getIngredient.name }}</h4>
                            <div class="row">
                                <h5 class="col-sm-4">Kiekis: {{ ingredient.getQuantity }} {{ ingredient.getIngredient.getMeasureUnit.getName }}</h5>
                                <button type="button" class="btn btn-default" onclick="removeIngredient({{ ingredient.id }})">Pašalinti</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% macro input(name, value, type, size) %}
        <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
    {% endmacro %}

{% endblock %}