{% block table %}

    <!-- Post -->
    <article class="is-post is-post-excerpt">
        <header>
            <h2>Mano kokteiliai</h2>
        </header>
    </article>

    <!-- Search -->
    <section class="is-search">

        <h3>Trūkstamų produktų sąrašas: </h3>
        <p></p>
        <ul class="ingredients-list">
            <li><p><strong>Pienas: </p></strong> <span> 200 ml.</span></li>
        </ul>
    </section>

    <article class="is-post is-post-excerpt">
        <header>
            <h3>Mano kokteiliai: </h3>
        </header>
    </article>
    <div id="recipes_table">
        {% for recipe in recipes %}
            <article class="is-post is-post-excerpt">
                <header>
                    <span class="byline">{{ recipe.getRecipe().getTasteByStatus(recipe.getRecipe().RecipeTaste) }} / {{ recipe.getRecipe().getTypeByStatus(recipe.getRecipe().RecipeType) }} - {{ recipe.getRecipe().name }}</span>
                </header>

                <a href="{{ path('cocktails_recipe_single', {'id': recipe.getRecipe().id }) }}" class="image image-full"><img src="{{ asset(recipe.getRecipe().getImageByStatus(recipe.getRecipe().image)) }}" alt=""/></a>
                <p>
                    {#<strong>Ingredientai: </strong> {%  for ingredient in recipe.ingredients %} {{ ingredient.ingredient.name }} {{ ingredient.quantity }}{{ ingredient.ingredient.measureUnit.name }}. {% if not loop.last %},{% endif %} {% endfor %}#}
                </p>
                <p>
                    <a href="javascript:removeRecipeFromUser({{ recipe.id }})" class="btn">PAŠALINTI</a>
                    <a href="{{ path('cocktails_recipe_single', {'id': recipe.getRecipe().id }) }}" class="btn">PLAČIAU</a>
                </p>
            </article>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script>
    function removeRecipeFromUser(id){
        $("#recipes_table").html('<div style=\"text-align:center;\"><img src="{{ asset('files/images/load.gif') }}"></div>');
        $.ajax({
            type: "POST",
            url: "{{ path('cocktails_remove_recipe') }}",
            data:{id: id},
            success: function(data){
                $("#recipes_table").html(data);
            }
        })
    }
</script>
{% endblock %}
