<script>
    var removeIngredient = function(element){
        $.ajax({
            type: "GET",
            url: "{{ path('cocktails_remove_ingredient') }}",
            data:{ingredient: element}
        })
    }

</script>

{% block UserIngredientTableBlock %}
    <div class="clear">&nbsp;</div>
    <h4>Mano produktai:</h4>
    <ul class="list-group col-sm-5 col-md-5"  >
        {% for ingredient in userIngredients %}
            <li class="list-group-item " >
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <img class="thumbnail ingredient-image" src="{{ asset(ingredient.getIngredient.getFoto) }}"/>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <h4>{{ ingredient.getIngredient.name }}</h4>
                            <form>
                                <p>Kiekis: {{ ingredient.getQuantity }} {{ ingredient.getIngredient.getMeasureUnit.getName }}</p> {{ ingredient.id }}
                                <input type="button" value="Pašalinti" class="pasirinkti" onclick="removeIngredient({{ ingredient.id }})"/>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% macro input(name, value, type, size) %}
        <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
    {% endmacro %}

{% endblock %}